<main class="flex flex-col h-full w-full text-[#E1DEF5E5] gap-4">
  <!-- <div class="flex items-center justify-between px-6 pt-4 shrink-0">
    <img
      src="./../../assets/imgs/white-logo.svg"
      class="w-[182px] my-2"
      alt="logo"
    />
  </div> -->
  <div class="overflow-y-auto mt-12">
    <ul class="list-none p-0 m-0 overflow-hidden">
      <li>
        <a [ngClass]="{ active: activeRoute() == '' }" routerLink="/">
          <i class="pi pi-chart-line me-2"></i>
          <span class="font-medium">{{ "SideNav.analytics" | translate }}</span>
        </a>
      </li>
      @if(authService.isEditor()) {
      <li>
        <a
          [ngClass]="{ active: activeRoute() == 'adminsList' }"
          routerLink="/adminsList"
        >
          <i class="pi pi-users me-2"></i>
          <span class="font-medium">{{ "accounts.admins" | translate }}</span>
        </a>
      </li>
      <li>
        <a
          [ngClass]="{ active: activeRoute() == 'employees' }"
          routerLink="/employees"
        >
          <i class="pi pi-id-card me-2"></i>
          <span class="font-medium">{{ "employees.title" | translate }}</span>
        </a>
      </li>
      }
    </ul>
  </div>
  <div class="mt-auto">
    <span class="text-sm flex justify-center"
      >© 2024 Claro. All rights reserved</span
    >
    <hr class="mb-4 mx-4 border-t border-0 border-surface" />
    <p-toast />
    <p-confirmdialog />
    <p-button
      label="{{ 'General.logout' | translate }}"
      icon="pi pi-sign-out"
      class="w-full [&>button]:!w-full"
      severity="secondary"
      (click)="logout()"
    />
  </div>
</main>
