<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

  <style type="text/css">
    body,
    p,
    div {
      font-family: inherit;
      font-size: 14px;
    }

    body {
      color: #002039;
    }

    body a {
      color: #024b74;
      text-decoration: none;
    }

    p {
      margin: 0;
      padding: 0;
    }

    table.wrapper {
      width: 100% !important;
      table-layout: fixed;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    img.max-width {
      max-width: 100% !important;
    }

    .column.of-2 {
      width: 50%;
    }

    .column.of-3 {
      width: 33.333%;
    }

    .column.of-4 {
      width: 25%;
    }

    @@media screen and (max-width: 480px) {

      .preheader .rightColumnContent,
      .footer .rightColumnContent {
        text-align: left !important;
      }

      .preheader .rightColumnContent div,
      .preheader .rightColumnContent span,
      .footer .rightColumnContent div,
      .footer .rightColumnContent span {
        text-align: left !important;
      }

      .preheader .rightColumnContent,
      .preheader .leftColumnContent {
        font-size: 80% !important;
        padding: 5px 0;
      }

      table.wrapper-mobile {
        width: 100% !important;
        table-layout: fixed;
      }

      img.max-width {
        height: auto !important;
        max-width: 100% !important;
      }

      a.bulletproof-button {
        display: block !important;
        width: auto !important;
        font-size: 80%;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .columns {
        width: 100% !important;
      }

      .column {
        display: block !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .social-icon-column {
        display: inline-block !important;
      }
    }
  </style>
  <!--user entered Head Start-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500&amp;display=swap" rel="stylesheet"/>
  <style>
    body {
      font-family: "Montserrat", sans-serif;
    }
  </style>
  <!--End Head user entered-->
</head>

<body>
<main class="wrapper" data-link-color="#843adc"
  data-body-style="font-size:14px; font-family:inherit; background-color:#FFFFFF;">
  <div style="background-color: #f6f6f6; max-width: 600px; margin: auto; padding: 8px">
    <div style="margin: 2rem 0; display: flex">
      <img style="height: auto; margin: auto" border="0" width="195"
        data-proportionally-constrained="true" data-responsive="false" src="https://images.claro.eg/Logo.png"
        height="48"/>
    </div>
    @RenderBody()
    <div style="display: flex; margin: 8px 0">
      <ul style="display: inline-block; list-style: none; padding: 0; margin: auto; flex-wrap: wrap; text-align: center;">
        <li style="display: inline-block;">
          <a style="
                  font-family: inherit;
                  text-align: center;
                  padding: 18px 0px
                  18px 0px;
                  "
            href="https://www.facebook.com/profile.php?id=100089254864900&mibextid=ZbWKwL"
            target="_blank">
            <u>
              <strong>Facebook</strong>
            </u>
          </a>
        </li>
        <li style="display: inline-block;">
          <a style="
                  font-family: inherit;
                  text-align: center;
                  padding: 18px 0px
                  18px 0px;
                  " href="https://twitter.com/Claro_Egypt?t=_WVZdKrf9hEUWQ5sUj-qsg&s=09"
            target="_blank">
            <u>
              <strong>Twitter</strong>
            </u>
          </a>
        </li>
        <li style="display: inline-block;">
          <a style="
                      padding: 18px 0px 18px 0px;
                      text-align: center;
                      " href="https://www.instagram.com/claroegy/?igshid=NDk5N2NlZjQ%3D"
            target="_blank">
            <u>
              <strong>Instagram</strong>
            </u>
          </a>
        </li>
        <li style="display: inline-block;">
          <a style="
                      font-family: inherit;
                      text-align: center; padding: 18px 0px 18px 0px; "
            href="https://www.claro.eg/ar/privacy-policy"
            target="_blank">
            <u>
              <strong>Terms</strong>
            </u >
          </a>
        </li>
      </ul>
    </div>
    <div style="display: flex; ">
      <span style="margin: auto">You have the right to know clearly</span>

    </div>
    <a href="https://claro.eg/" style="
              color: #a8b9d5;
              display: inline-block;
              font-size: 10px;
              padding: 6px 0;
              text-align: center;
              font-family: helvetica,
              sans-serif;
              width: 100%;
              " target="_blank">
      ♥ POWERED BY CLARO
      EG
    </a>
  </div>
</main>
</body>
</html>
