tr#newValue:not(:first-of-type) {
  display: none;
}

::ng-deep {
  .p-datatable-tbody>tr#empty:last-child {
    display: none;
  }

  .p-confirmdialog-icon {
    width: fit-content !important;
    height: fit-content !important;
    font-size: 1.5rem !important;
  }

  .p-datatable-table-container {
    overflow: unset !important;
  }
}